@import 'tailwindcss';

/* @plugin '@tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography'; */
@custom-variant dark (&:where(.dark, .dark *));
@source '../node_modules/flowbite-svelte/dist';

#app {
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
}

a:link {
	color: blue;
}

a:visited {
	color: purple;
}

/* databable plugin */
@source '../node_modules/simple-datatables/dist';
@source '../node_modules/@flowbite-svelte-plugins/datatable/dist';

.datatable-pagination .datatable-active a,
.datatable-pagination .datatable-active a:focus,
.datatable-pagination .datatable-active a:hover,
.datatable-pagination .datatable-active button,
.datatable-pagination .datatable-active button:focus,
.datatable-pagination .datatable-active button:hover {
	background-color: #ffe4de;
	cursor: default;
}

.datatable-wrapper .datatable-table tbody tr.selected {
	background-color: #fff1ee !important;
}

/* Fix for MultiSelect dropdown legibility */
.flex.flex-col.fixed,
.flex.flex-col.absolute {
	@apply rounded-lg border border-slate-200 bg-white shadow-xl dark:border-slate-700 dark:bg-slate-800;
	z-index: 9999 !important;
}

/* Specifically target the MultiSelect items */
[role='listbox'] {
	@apply bg-white dark:bg-slate-800;
}
